@using GMS.Models
@model dynamic
<div class="data-cell dashboard-right">
    <div class="panel-sidebar">
        <h3 class="panel-sidebar-title">Recommendations</h3>

        <div class="carousel-sidebar">
            @foreach (StartupRecommendation row in Model.StartupRecommendation)
            {
                <div class="sidebar-media sidebar-user clearfix">
                    <a href="/startup-profile/@row.Id" class="sidebar-media-thumb" style="background-image:url('@row.Image')"></a>
                    <div class="sidebar-media-body">
                        <h4><a href="/startup-profile/@row.Id">@row.Name</a></h4>
                        <p>@row.Industry</p>
                        <div class="cta-btn">
                            <a href="/startup-profile/@row.Id" class="btn btn-default btn-sm">View Details</a>
                        </div>
                    </div>
                </div>

            }




            </div>


        <div class="text-center load-more mt30">
            <a href="/meet-our-startups" class="btn btn-sm btn-primary">View All Startups</a>
        </div>
    </div>

    <div class="panel-sidebar sidebar-events">
        <h3 class="panel-sidebar-title">Upcoming Events</h3>

        <div class="carousel-sidebar">

            @foreach (DemoRecommendation rowDemo in Model.DemoRecommendation)
            {
                <div class="sidebar-media clearfix">
                    <a href="/events/details/@rowDemo.Id" class="sidebar-media-thumb" style="background-image:url('@rowDemo.Image')"></a>
                    <div class="sidebar-media-body">
                        <h4><a href="/events/details/@rowDemo.Id">@rowDemo.Name</a></h4>
                        <p class="v-date">
                            @rowDemo.Date
                        </p>
                        <p class="v-time">@rowDemo.Time</p>
                        <p class="v-add">@rowDemo.Address</p>

                        <div class="clearfix cta-btn">
                            <a class="btn btn-sm btn-default pull-left" href="/events/details/@rowDemo.Id">View Details</a>
                            <span class="time-left pull-right">
                                2 Days Left
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center load-more mt30">
            <a href="/events" class="btn btn-sm btn-primary">View All Events</a>
        </div>

    </div>
    <div class="panel-sidebar-video">
        <h3 class="panel-sidebar-title">Videos</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bNpx7gpSqbY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="panel-adv">
        <a href="javascript:void();"><img src="/assets/frontend/images/adv.jpg" alt="Ads"></a>
    </div>

</div>
<!--[/sidebar]-->